body{
    margin-top:100px;

    margin-right: 80px;
    
}
.h-title{
 border-bottom:1px solid #eee;
 padding-bottom:5px;
}
.block {
    margin-bottom: 35px;
}

.thumbnail {
    background: none;
    position: relative;
    border: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.thumbnail .caption {
    padding: 12px 0 0 0;
    color: #333;
}

.thumbnail .caption h6 small {
    display: block;
    margin-top: 4px;
}

.thumbnail .caption h6, .thumbnail .caption .h6 {
    font-size: 14px;
}

.icons-group a {
    color: #555;
}

.thumb-zoom img:hover {
    opacity: 0.7;
    cursor: pointer;
    border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
                      -moz-transform: scale(1.2, 1.2);
     -moz-transition-timing-function: ease-out;
                       -ms-transform: scale(1.20, 1.20);
      -ms-transition-timing-function: ease-out;

         -webkit-transition-duration: 500ms;
            -moz-transition-duration: 500ms;
             -ms-transition-duration: 500ms;
}