body{
    margin-top:100px;

    margin-right: 80px;
    
}
.h-title{
 border-bottom:1px solid #eee;
 padding-bottom:5px;
}
.block {
    margin-bottom: 35px;
}

.thumbnail {
    background: none;
    position: relative;
    border: 0;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.thumbnail .caption {
    padding: 12px 0 0 0;
    color: #333;
}

.thumbnail .caption h6 small {
    display: block;
    margin-top: 4px;
}

.thumbnail .caption h6, .thumbnail .caption .h6 {
    font-size: 14px;
}

.icons-group a {
    color: #555;
}

.thumb-zoom img:hover {
    opacity: 0.7;
    cursor: pointer;
    border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
                      -moz-transform: scale(1.2, 1.2);
     -moz-transition-timing-function: ease-out;
                       -ms-transform: scale(1.20, 1.20);
      -ms-transition-timing-function: ease-out;

         -webkit-transition-duration: 500ms;
            -moz-transition-duration: 500ms;
             -ms-transition-duration: 500ms;
}

body {
    background: #e8e8e8;
  background-image: url("/refugio/fondito.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(232, 232, 232, 0.8);

}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
    z-index: -1; /* Para asegurarse de que esté detrás del contenido */
}
.form-area {
	padding-top: 7%;
}
.row.single-form {
	box-shadow: 0 2px 20px -5px rgba(0,0,0,0.5);
}
.left {
	background: blueviolet;
	padding: 200px 98px;
    
    background-image: url("fondo.jpg");
    background-size: cover;
}
.left h2 {
	font-family: poppins;
	color: #fff;
	font-weight: 700;
	font-size: 48px;
}
.left h2 span {
	font-weight: 100;
}
.single-form{
    background: #fff;
}
.right {
	padding: 70px 100px;
	position: relative;
}
.right i {
	position: absolute;
	font-size: 80px;
	left: -27px;
	top: 40%;
	color: #fff;
}
.form-control {
	border: 2px solid #000;
}
.right button {
	border: none;
	border-radius: 0;
	background: #252525;
	width: 180px;
	color: #fff;
	padding: 15px 0;
	display: inline-block;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}
.right button:hover{
    background-color: #252525;
}


/*responsive*/

@media (min-width:768px) and (max-width:991px){
    .right i {
	top: -52px;
	transform: rotate(90deg);
	left: 50%;
}
}

@media (max-width:767px){
    .left {
  padding: 90px 15px;
  text-align: center;
}
.left h2 {
  font-size: 25px;
}
.right {
  padding: 25px;
}
.right i {
  top: -52px;
  transform: rotate(90deg);
  left: 46%;
}
    .right button {
	width: 150px;
	padding: 12px 0;
}
    
}




